:root {
    --main-border-radius: 1.6vw;
}

body {
    margin:0;
    padding: 0;
    background-color: #333333;
    overflow: hidden;

}

#blur_area {
    margin: 0;
    padding: var(--main-border-radius);
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
}

#game_area {
    position: relative;
    top: 50%;
    transform:translate(0,-50%);
    margin: 0 auto;
    aspect-ratio: 1.94;
    width: auto;
    height: auto;
    max-height: calc(100vh - var(--main-border-radius) * 2);
    background-color: green;
}
