:root {
    /*Sizes*/
    --main_border_radius: 1.56vw;
    --clock_margin: 2.81vw;
    /*Colors*/
    --black_square: #d18b47;
    --white_square: #ffce9e;
    --grey: #b8b8b8;
    --dark_grey: #7c7c7c;
    --red: #fa8888;
    --yellow: #e4e57f;
    --green: #b4ff75;
    --black: #000000;
    --white: #ffffff;
}

body {
    margin:0;
    padding: 0;
    background-color: #333333;
    overflow: hidden;

}

#blur_area {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    opacity: 1;
    filter: blur(0);
    transition: filter ease-out 0.5s, opacity ease-out 0.5s;
}

#blur_area.blurred {
    animation: ease-out blurring 0.5s;
    filter: blur(calc(var(--main_border_radius) / 3));
    opacity: 0.24;
}

#game_area {
    box-sizing: border-box;
    position: relative;
    top: 50%;
    transform:translate(0,-50%);
    margin: 0 auto;
    aspect-ratio: 1.94;
    width: auto;
    height: auto;
    max-height: calc(100vh);
    padding: var(--main_border_radius);
}

#board {
    float: left;
    margin-right: var(--main_border_radius);
    border-radius: var(--main_border_radius);
    height: 100%;
    aspect-ratio: 1;
    overflow: hidden;
}

.square {
    aspect-ratio: 1;
    height: 12.5%;
    float: left;
}

.black_square {
    background-color: var(--black_square);
}

.white_square {
    background-color: var(--white_square);
}

.info_block {
    float: left;
    width: 15.2%;
    border-radius: var(--main_border_radius);
    text-align: center;
    padding: 0;
    overflow: hidden;
    user-select: none;
}

.clock {
    aspect-ratio: 2.55;
    background-color: var(--grey);
}

#zone_counter {
    margin-top: var(--clock_margin);
    background-color: var(--yellow);
    aspect-ratio: 1.35;
}

#chest_counter {
    margin: var(--main_border_radius) 0;
    background-color: var(--green);
    aspect-ratio: 1.73;
}

#deathmatch_counter {
    margin-bottom: var(--clock_margin);
    background-color: var(--red);
    aspect-ratio: 1.73;
}

#game_menu {
    box-sizing: border-box;
    float: right;
    /*margin-left: var(--main_border_radius);*/
    padding: calc(var(--main_border_radius) * 2/3);
    aspect-ratio: 0.63;
    height: 100%;
    background-color: var(--grey);
    border-radius: var(--main_border_radius);
}

#command_line {
    box-sizing: border-box;
    padding: calc(var(--main_border_radius) * 2/3);
    float: left;
    height: calc(var(--main_border_radius) * 2.3);
    width: calc(var(--main_border_radius) * 15.2);
    margin-right: calc(var(--main_border_radius) * 1/3);
    border-radius: calc(var(--main_border_radius) * 1/3);
    border: none;
    background-color: var(--dark_grey);
    outline: none;
    color: var(--white);
    font-size: calc(var(--main_border_radius) * 0.8);
    font-family: Inter, sans-serif;
    font-weight: 900;
}

#command_line::placeholder {
    font-family: Inter, sans-serif;
    font-weight: 900;
    color: var(--grey);
    font-size: calc(var(--main_border_radius) * 0.8);
    outline: none;
}

#send_command_button {
    box-sizing: border-box;
    margin: 0;
    height: calc(var(--main_border_radius) * 2.3);
    border-radius: calc(var(--main_border_radius) * 1/3);
    aspect-ratio: 1;
    border: none;
    background-color: var(--dark_grey);
    color: var(--white);
    font-size: calc(var(--main_border_radius) * 1.2);
    font-family: Inter, sans-serif;
    font-weight: 900;
}

#menu {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50% ,-50%);
    padding: 0;
    width: calc(25.3 * var(--main_border_radius));
    height: calc(16.6 * var(--main_border_radius));
    text-align: center;
    opacity: 1;
    visibility: visible;
    transition: opacity ease-out 0.5s, visibility ease-out 0.5s;
}

#menu.hidden {
    opacity: 0;
    visibility: hidden;
}

#menu > h1 {
    margin-top: 0;
    margin-bottom: calc(var(--main_border_radius) * 2);
    font-family: Inter, sans-serif;
    font-weight: 900;
    font-size: calc(var(--main_border_radius) * 2.4);
    color: #ffffff;
}

label {
    display: none;
}

#room_id {
    position: relative;
    left: calc(var(--main_border_radius) * 1.1);
    float: left;
    box-sizing: border-box;
    height: calc(var(--main_border_radius) * 2.87);
    width: calc(var(--main_border_radius) * 12.6);
    border-radius: var(--main_border_radius);
    border: none;
    margin-right: var(--main_border_radius);
    margin-bottom: calc(var(--main_border_radius) * 0.5);
    padding: 0 var(--main_border_radius);
    background-color: var(--grey);
    outline: none;
    color: var(--black);
    font-size: calc(var(--main_border_radius) * 1.2);
    font-family: Inter, sans-serif;
    font-weight: 900;
}

#room_id::placeholder {
    opacity: 1;
    color: var(--dark_grey);
    font-size: calc(var(--main_border_radius) * 1.2);
    font-family: Inter, sans-serif;
    font-weight: 900;
}

#start_button {
    float: left;
    height: calc(var(--main_border_radius) * 2.87);
    width: calc(var(--main_border_radius) * 9.5);
    border-radius: var(--main_border_radius);
    border: none;
    margin-bottom: calc(var(--main_border_radius) * 0.5);
    margin-left: var(--main_border_radius);
    background-color: var(--green);
    padding: 0;
    outline: none;
    font-size: calc(var(--main_border_radius) * 1.6);
    font-family: Inter, sans-serif;
    font-weight: 900;
    color: var(--black);
}

#or {
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: calc(var(--main_border_radius) * 1.2);
    margin-top: 0;
    margin-bottom: calc(var(--main_border_radius) * 0.5);
    color: var(--grey);
}

#random_room_button {
    display: block;
    position: relative;
    left: calc(var(--main_border_radius) * 1.1);
    height: calc(var(--main_border_radius) * 2.87);
    width: calc(var(--main_border_radius) * 23.1);
    border-radius: var(--main_border_radius);
    border: none;
    background-color: var(--red);
    outline: none;
    font-size: calc(var(--main_border_radius) * 1.6);
    font-family: Inter, sans-serif;
    font-weight: 900;
    color: var(--black);
}

.time {
    font-family: Inter,sans-serif;
    font-weight: 900;
    font-size: calc(var(--main_border_radius) * 2);
    margin: 0;
    line-height: 0;
    position: relative;
    top: 50%;
    transform: translate(0%,-50%);
}

.info_block_text {
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: var(--main_border_radius);
    color: var(--black);
    margin-top: calc(var(--main_border_radius) * 0.5);
    margin-bottom: calc(var(--main_border_radius)*0.15);
}

.moves_counter {
    font-family: Inter, sans-serif;
    font-weight: 900;
    font-size: calc(var(--main_border_radius) * 1.5);
    color: var(--black);
    margin: 0;
}

#waiting {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: opacity ease-out 0.5s, visibility ease-out 0.5s;
    opacity: 1;
    visibility: visible;
    user-select: none;
}

#waiting.hidden {
    opacity: 0;
    visibility: hidden;
}

#waiting > p {
    font-family: Inter, sans-serif;
    font-weight: 900;
    font-size: calc(var(--main_border_radius) * 2.4);
    color: #ffffff;
}

#waiting > p > span:nth-child(2) {
    opacity: 0;
    animation: firstDotFadeIn 3s infinite alternate;
}

#waiting > p > span:nth-child(3) {
    opacity: 0;
    animation: secondDotFadeIn 3s infinite alternate;
}

#waiting > p > span:nth-child(4) {
    opacity: 0;
    animation: thirdDotFadeIn 3s infinite alternate;
}

#waiting.hidden > p > span {
    animation: none;
}

@keyframes firstDotFadeIn {
    0% { opacity: 0 }
    12.5% { opacity: 0 }
    37.5% { opacity: 1 }
    100% { opacity: 1 }
}

@keyframes secondDotFadeIn {
    0% { opacity: 0 }
    37.5% { opacity: 0 }
    62.5% { opacity: 1 }
    100% { opacity: 1 }
}

@keyframes thirdDotFadeIn {
    0% { opacity: 0 }
    62.5% { opacity: 0 }
    87.5% { opacity: 1 }
    100% { opacity: 1 }
}